/* REGOLE COMMON */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

/* HEADER + FOOTER BACKGROND COLOR */
.ms_header, footer{
    background-color: #2C3E50;
  }

/* JUMBOTRON + ABOUT BACKGROND COLOR */
.jumbotron, .about, .green{
    background-color: #1ABC9C;
}

/* SETTING BAR */
.bar{
    width: 100px;
    height: 3px;
    border-radius: 20px;
}

/* FOOTER FIRST PART BACKGROND COLOR */
.ms_footer_top{
    background-color: #3A546D;
}
/* FOOTER TEXT COLOR */
.green_text{
    color: #1ABC9C;
}