/* REGOLE COMMON */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

/* HEADER + FOOTER BACKGROND COLOR */
.ms_header, footer{
    background-color: #2C3E50;
  }

/* JUMBOTRON + ABOUT BACKGROND COLOR */
.jumbotron, .about, .green{
    background-color: #1ABC9C;
}

/* SETTING BAR */
.bar{
    width: 100px;
    height: 3px;
    border-radius: 20px;
}

/* FOOTER FIRST PART BACKGROND COLOR */
.ms_footer_top{
    background-color: #3A546D;
}

/* FOOTER TEXT COLOR */
.green_text{
    color: #1ABC9C;
}

/* HOVER LINK HEADER */
.nav-link.active.fw-bold:hover{
    color: #1ABC9C;
}

/* HOVER BURGER HEADER */
.navbar-toggler:hover{
    background-color: #fff;
}

.img-fluid{
    border-radius: 20px;
}

.img_container{
    position: relative;
}

.ms_layover{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 20px;
    margin: 0 12px;
    opacity: 0;
    background-color: #1ABC9C;
}

.bi-plus-lg.text-light{
    font-size: 100px;
}

.ms_layover:hover{
    opacity: 0.9;
}